<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static.css/estilo.css">


    <title>Jorge Mendieta</title>

    <!--Esto es lo que va en la pestañita de la web-->

    <!--Tratar de añadir un logo para la pestaña de la web-->
</head>

{% block contents %}

<body class="body">

    <header class="head">

        <!--Encontrar la forma de poner los botones a la derecha por medio de Css-->

        <nav>

            <h1><i>
                    <blockquote>Jorge Luis Mendieta Flabille</blockquote>
            </h1></i>

            <div class="botones">
                <a href="#">Home page</a>
                <a href="#">Imágenes</a>
                <a href="#">Estadísticas</a>
                <a href="#">Acerca de mí</a>
            </div>

        </nav>


    </header>


    <br>
    <div class="slider">
        <h2>Carrusel de imágenes</h2>
        <ul>
            <li> <img src="static.css/16194243367050.jpg" alt="Italia#1" width="500" height="500"> </li>
            <li><img src="static.css/lugares-para-visitar-en-Italia-4_opt-1200x801.jpg" alt="italia#10" width="500"
                    height="500"></li>
            <li><img src="static.css/515362c8-lm-3638-165cdb13a57.jpg" alt="italia#2" width="500" height="500"></li>
            <li><img src="static.css/it_00_00_1_m.png" alt="italia#3" width="500" height="500"></li>
            <li><img src="static.css/Ciudad-de-Roma-760x500.jpg" alt="italia#4" width="500" height="500"></li>
            <li><img src="static.css/italia.jpg" alt="italia#5" width="500" height="500"></li>
            <li><img src="static.css/Italia_Roma_shutterstock_529965313_Catarina Belova_Shutterstock.jpg" alt="italia#6"
                    width="500" height="500"></li>
            <li><img src="static.css/Italia_Venecia_shutterstock_324392561_Rudy Balasko_Shutterstock.jpg" alt="italia#7"
                    width="500" height="500"></li>
            <li><img src="static.css/italy.jpg" alt="italia#9" width="500" height="500"></li>
            <li><img src="static.css/procida-italia-t.jpg" alt="italia#11" width="500" height="500"></li>
        </ul>
    </div>

    <br>
    <br>
    <br>

    <center>
        <img src="static.css/WhatsApp Image 2022-02-07 at 10.09.27 PM (1).jpeg" alt="Foto de Jorge Mendieta" width="500"
            height="500" class="imagen">
    </center>


    <h2 class="titulo">
        Hola a todos,
    </h2>

    <div class="caja">
        <p>
            Siempre me he considerado una persona determinada, original y dedicada; sin embargo, sé que soy más que
            eso,
            por
            ende, siempre trato de mejorar mis habilidades y aprender cosas nuevas para estar siempre a la
            vanguardia de
            la
            sociedad.
        </p>
        <p>
            Soy un joven panameño de 19 años, estudiante de la ESEN y sub-director del área de voluntarios de
            Préndelo
            Panamá.
            Tengo grandes aspiraciones para el futuro, una vez termine la carrera conseguiré un trabajo que tenga
            que
            ver
            con el
            área de logística y suministro de igual forma estoy interesado en el área de informática; además,
            trabajaré
            fuerte
            para conseguir mi propia empresa.
        </p>
        <p>
            En mi tiempo libre participo en voluntariados que involucran la educación y el cuidado del ambiente, de
            igual
            forma
            estoy en una academia de árbitros, veo Netflix, disfruto de las salidas al aire libre y mucho más.
            Este soy yo...
        </p>
        <p>
            Jorge Mendieta
        </p>

        <p>
            Git Hub url:<a href="https://github.com/"> Click me</a>
        </p>
    </div>

</body>

<footer>
    <p>
    <h1>Redes sociales:</h1>
    <h3>Instagram: <a href="jorgemen.pa">jorgemen.pa</a></h3>
    <h3>Gmail: <a href="jorgemendieta1802@gmail.com">jorgemendieta1802@gmail.com</a></h3>

    </p>
</footer>

</html>
{% endblock %}